{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_copyright %}
    {#<div class="footer-copyright">
        {% sw_icon 'shopware' style {'size':'xs'} %}
         {{ "footer.copyrightInfo"|trans|sw_sanitize }}
    </div>#}
{% endblock %}
